<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PuddleChess</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>ChessPlugin</string>
	<key>PuddleOptions</key>
	<array>
		<dict>
			<key>default</key>
			<string>play</string>
			<key>key</key>
			<string>mode</string>
			<key>title</key>
			<string>Mode</string>
			<key>titles</key>
			<array>
				<string>Play against the engine</string>
				<string>Watch the engine play itself</string>
			</array>
			<key>values</key>
			<array>
				<string>play</string>
				<string>watch</string>
			</array>
		</dict>
		<dict>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>engine</string>
			<key>title</key>
			<string>Stockfish</string>
		</dict>
	</array>
</dict>
</plist>
